body{
  /*background-color: #D5D5D5;*/
  background-image: -webkit-linear-gradient(#0de8dd 0%, #db6200 100%);
  background-size: cover;
  min-height:100%;
}

p{

}

h1{
  font-size: 60px;
  color: #616161;
}

.navbar {
	background-color:#dd0ce8
}

.container {
  background-color: #FFFFFF; 
  width: 75%;
  min-height: 700px;
  border-radius: 10px;
}

.hib {
  background-image: url("/resources/swiss_mountain.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.myname{
  color: #FFFFFF;
  width: 35%;
  /*background-color: #CCCCCC
  filter: alpha(opacity=40);
  -webkit-filter: alpha(opacity=40);
  transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;*/
}

.myname:hover{
  /* color: #CA9822;
  background: #0de8dd; */
}

.text-box{
  padding: 5%;
}

.active{
  background-color: #86ACD8;
}

.navbar-brand{
  /*background: url("http://pokemoncreed.net/img/icon/Bidoof.gif") right no-repeat;*/
  /*width: 135px;*/
}

small{
  color: #9E9E9E;
}

li{
  transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.myfooter{
  padding: 40px;
  font-size: 10px;
  text-align: center;
 /* transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;*/
}

/* .myfooter:hover{
  font-size: 16px;
} */

.screenshot{
  border-radius: 12px;
  width: 300px;
  transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.screenshot:hover{
  border-radius: 0px;
  width: 400px;
}

.avatar {
  border-radius: 50%;
  transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.avatar:hover{
  border-radius: 10px; 
  /*width: 120%;
  height: 120%;*/
  /*transform: translate(0px,-30px);  */
  /*2 Different effects, both cool*/
}

#nav-name:hover{
  color: #FFFFFF;
}

.link-icon{
  width: 30px;
  transition: all ease 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.link-icon:hover{
  width: 45px;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0de8dd;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hvr-shutter-out-horizontal {
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0de8dd;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
